@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  background-color: #171717;
  font-family: "Courier New", Courier, monospace;
  color: #fafafa;
  font-size: clamp(14px, 0.703vw, 18px);
}

.--prim-s-font {
  font-size: clamp(12px, 0.547vw, 14px);
  line-height: 1.2;
}
.--prim-m-font {
  font-size: clamp(14px, 0.703vw, 18px);
  line-height: 1.2;
}
.--prim-l-font {
  font-size: clamp(24px, 1.25vw, 32px);
  line-height: 1.2;
}

.--sec-xs-font {
  font-family: "Space Grotesk", serif;
  font-size: clamp(16px, 0.859vw, 22px);
  line-height: 1.2;
}
.--sec-s-font {
  font-family: "Space Grotesk", serif;
  font-size: clamp(32px, 2.5vw, 64px);
  line-height: 1.2;
}
.--sec-m-font {
  font-family: "Space Grotesk", serif;
  font-size: clamp(48px, 5vw, 128px);
  line-height: 1.2;
}
.--sec-l-font {
  font-family: "Space Grotesk", serif;
  font-size: clamp(100px, 7.813vw, 200px);
  line-height: 1.2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar,
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sec-font {
  font-family: "Space Grotesk", serif;
}

.background-rainbow {
  font-family: "Space Grotesk", serif;
  background: linear-gradient(
    to right,

    #7e57c2,
    #2196f3,
    #26c6da
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-rainbow-anim-text {
  font-family: "Space Grotesk", serif;
  background: linear-gradient(
    to right,

    #7e57c2,
    #2196f3,
    #26c6da,
    #2196f3,
    #7e57c2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animation-text {
  animation: animation-text 300s linear infinite;
}
@keyframes animation-text {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.--clamp-sections {
  padding-top: clamp(80px, 5.859vw, 150px);
}
.--clamp-sections-bottom {
  padding-bottom: clamp(80px, 5.859vw, 150px);
}
.--clamp-sections-margin {
  margin-top: clamp(80px, 5.859vw, 150px);
}

.box {
  position: relative;
  background: linear-gradient(0deg, #000, #262626);
}

.rainbow {
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: linear-gradient(45deg, #7e57c2, #2196f3, #26c6da);
    background-size: 800%;
    z-index: -1;
  }

  &:after {
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    filter: blur(30px);
    opacity: 0.9;
  }
}
.rainbow-delay-1::after {
  animation: shadow 30s 0s linear infinite;
}
.rainbow-delay-2::after {
  animation: shadow 30s 2s linear infinite;
}
.rainbow-delay-3::after {
  animation: shadow 30s 4s linear infinite;
}
.rainbow-delay-4::after {
  animation: shadow 30s 6s linear infinite;
}
.rainbow-delay-5::after {
  animation: shadow 30s 8s linear infinite;
}
.rainbow-delay-6::after {
  animation: shadow 30s 10s linear infinite;
}
@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50.01% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.backdrop-blur-default {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}
